.suha {
    background-color: black;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    animation:
    run 17s linear infinite,
    pulse 9s infinite ease-in-out;
}
button {
    border: 30%;
    font-size: 100px;
}
@keyframes run {

    from  {transform: translate(100%);}
    to {transform: translate(-100%);}
}
@keyframes pulse {
    0% {
        opacity: 0;
        color: skyblue;
    }
    50% {
        color: yellowgreen;
    }
    100% {
        color: aquamarine;
        opacity: 5;
    }
}

